<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7VnZbttGFP0XPivC7IvfsqIp0sSIgaZF4QdaGllsuAjkKAsC/3sPSZGcId1GQYsgKOwH
	Ix7dmbnLuefcUb4khfPpNvVpcvElKdLGu/onl93ufXIhCGer09q7bOv3yQUnTKySqs5c
	6VOfVWVyoe5Wya6qi9T/6uqmW6Kr5EP/75flrmoPvjlm+fb1sbhxdXKRMPrE0mSVpIfD
	uCfB381m74r0rfuQ9WtklRzy1LenwyB7c5XgrnT757HxBRxokos/vtxztyvTm9xtkwtf
	Hx1Odd5n5W3T+pEeXO2PtUNwa7lKbvO0aVzzS+q9e5zn1cdp19Yd/H5wf5Me2l3bx/H2
	Iv2UFcdiWqVqlVw9e/PirSu3rsalo1t6leTHIn1dZY272qQ5jMmaMGopZ1wbZTW3sk33
	Lt24PrDNPit/a82EEkxpIZjURFBNLc5yO//8s/u9+9gyzTXnUllrjaRs/LjbzQ2lWkvJ
	KNFUKA1P6ra+4+eaGcqFtNwqQanA9rJq+qMlkwQnEiW1kIRzhNd61X+mKccWON9a8OnU
	/lNplBKGa6ml4oLQ/tQ+HiK0plJzpQnMzN11i6DNsXnrNr5N9+fOStroB3d/bNcpMVYy
	bsjpN27+1MUhiFbU4uz+N+Lcd/bwPPxhwFCRlbPCrXl/CzZLgyTQu+/rE67LtsB0tsu6
	FnnWwu/5btfePvTXy9BgUxVr9E/u1od95St0xje2wqGqfZ1mfo7xy9P6la9dees7f2WP
	y1dpuS3S+n2Pz6He3R9duEAgYGhR9FWfLy0sYVxgoXWvt7FCMyUVG20swKcJp2wyUoAG
	NeMxBghUxgoZGxlNAO3YTgosTzaak25hvIsoYQUVRIUHWfQHtyTwSVpjtLKzCyUznHWe
	jvFxLMYBKrLMAkVrstbRFurVEXz6Kjs0U+KEMFYLRYJNnGpu0JnB/QL9y6UMA+KcSsFs
	FLMkzPZLgxFTShEqw5glF0rpyErArk/nZGWEjb0SlIMRbBSw4qAHRiOv5oWQljHwRFB3
	JoWZBbjIL2NWnBI3JWFYGmzi9AskG1QVVpOBoU4OdvmP1As2KXr4UUdLVhMrOPhUg7sm
	mr2pq49TsUCiTJxgPVRYW0s063E9ukJbCpSSaDNFZAgoAXU0kdMtsxsyM5QU5BnlB5ig
	3EStAUSPSet4FG36pDqWW7T5k+rTyFwtk6OWRglOjemYqGcuIwiwyaAqhNB2uc8i1Ehq
	3IQyWq6IGIgLLliDywjAY6Tkd/2Vb6acvoT04YxHdA1tg2Ypw62G+ljdmz6tSl8d6yCf
	kB9IjwnyCT9x+Sx61oqTDHMkmdUnUE05IlDD4CjOKDM26nduOfhEBAihZgF9YRfgv4+E
	pIHGmRBtZN6PSKKJUE2WPGXAgqejR+iTGSlaK2O6EwRzQ8RldE0IJCzoMnS+nXWQNSzq
	VsMDoxOEfj6W77PSNc1UTYCeASJEgjdQCT52x1RJxgKqGQCKIWeOdmSI2qiJ9X1EBnIY
	OHBkUjXkcqpmB7GYb5eszBUnXNOwnJoyujyNMz1TH2WZOe2cXAvabsQsWTQswzQ21HE0
	o3Rw7rofiqYEYghRM7CAVeiJqAMAE0wZJowZ0CEYpmJmhtEsZrGgU0oxgQYpRucvBBJY
	HRcHM9Ra8Tl9s1jD8NfiQtmya9igYhC+v5cBGajV5BTkX5FIDTFDE3oqXpvcwm2ztHwF
	IAdSO+99oAWNNIOBiBUcNM4GVAQ2ivBI0qAfcl6Dc3N3lmi3DWgjlgAZcxu3F6xizWH3
	TFjnSO0/cBuSm5XlYoyZMQvo+R6QnBWDVhHVcSrmxLuwWOL/rEwIyJiVUY+ykYzbQFua
	uzwesjwgOgsKtFFRNcNBJzi0u4bpOJ4dJIaHSOkMWkEuHcdyrD3TrDvNXdH4hgeItbNG
	mo+1mLcgIkPTDPTztHaN//4NMuRollo8KFUEDzyOg1ERu9I8v6yy4fn/g49kqx+x8GOM
	D3r9TXo9Vunhnfu1d+70HHt42Z4pt//yZTvp2f9OhCf2fngp/jAvxSlHD2+W/+rNMk1O
	3/eR8rV5dtKrrw1ndZXn3bdphAmJyy3ybanCJGburu9WSYNhL7/v/1ua+Ovm4dvp/ivw
	F1nuXf06LfCQS658euve7TPvkvm35pfRrjO/OL+++ws=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
