<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7Vnbbtw2EP0XPW8Ncnj3W65oilyMGEgbFH6Qd2lbjS4LSZukCPzvPdSdWgNxirYJCjuA
	4ZWGM8PhOWeGmy9J4dt0l7ZpcvolKdKm9fXPPru+aZNTyQRthme/Zrv2JjkVjOQmqerM
	l23aZlWZnOrbTXJV1UXavvN10z3im+Rj//eL8qoKji8PWb57fSgufZ2cJsQfO55sknS/
	n9Yk+Nxsb3yRvvUfs/4Z2yT7PG2Ddxhkb84TxEp3fxyatkACTXL6+5c7Yvsyvcz9Ljlt
	64OHV9+2WXndhDzSva/bQ+2xuRO1Sa7ztGl88yptW/8oz6tP86qd37c3Y/rbdB9W7R7F
	y4v0c1Ycivkp15vk/Omb5299ufM1gk5pmU2SH4r0dZU1/nyb5jBmJ4yYtpykdcYYy4RE
	ua/Sre83tr3Jyt+CmSJrtXNSWc0VV8rBl79qn/3p34fXkjReGRJERjnD1fS6Wy0Fd1jp
	BDEhJNd2k9ThfKf3hDN1hhjXZBjnyKGsmsG1NmQ0FnH8dtqITZfV+z4rLa0RjmvmJDNq
	dtu/ZhxgEYpLqTW82t5tH1I5waQReId88OH2ImBoe2je+m0bCv5nMBOOueUPivspPEfF
	dPSzST739sScImH73xxQuOnstYr8WKCoyMrV0WF592NQZMsl8dv/NieEy3ZAdXaVdSR5
	GgD47OoqRB8Z9mJpsK2KEzAo9yf7m6qtwI1vJMO+qts6zdo1ys+G5+dt7cvrtstX9ch8
	mZa7Iq0/9AgdD7z70G1XSSU540oTFnQFs4CsVUpqa1TIsDczzDJmgP3JTIMLbGWGkzBE
	eunNCg4sGtWtnQ21cWHlZKWVUFpKJZZWhgurDV/YaafJOqaXrizx4dloJYBXafo8Zjuh
	DECycMaVJBdv02pJKtomYGBYlxUgXx2grC+zfTMXUEphpVluWZA0bFgzOpaGxzsWUhBI
	yqPozIq4yEI4K8XSZMh4fK8ZCBttUzmrBS19gK4mKtcQd8rkuFR8KvNgBMlTR5FUlCtx
	GecqoTTOLStO3JBdeZEItPZkhXZcdqd8sW5esElB4J86b0xZshrFtiS0mWT0sq4+zSfE
	jLNjIcdThTayqCwc4qhlZIOjJzaSYzIE6rVWTESAswCWFszGpSYjlv60lchzwlJg5+Pq
	UO7A7sfV50mwpIbKAqqIrzp1GwXLKYa2Q05pAWIwMwqWsY4U2hLnEudm7ChYAh+IhNRK
	ouMoc9vHfDOX8wWa3ueulmhDRiExh6ZmDHemt31SlW11qBe1RB8w6GoRwoAmNLvhwKaC
	imMyHfGNID6rWgq+FhVIcV/YwQJqTzG71FK/mLAj0WdAz2+JDWCbVQYFjRnM0HxXtAld
	cxkFjdLG5OTwzSMEScUjhsMChygWhROWolSW3MahEiaBMZEBMb8cyg9Z6ZtmPDseoGsg
	G8o6IZHCxIL51CK+h3OmtT4hjtPORNJt7B3SgH1jDogVBvwCNoetzZaWO0uR4hqHf+Pi
	+XzDGBRhAP2C2ZXykQOWV3ExRR0RGeLLHQ2FnerMDF/3DWBojWPMP5gK2FjvMP7MRRSg
	mJbLLI1jauD4vJkwkS3LjeoxvhJ6HCkXMajl2BFnYQRU3bC7yWi9CTBFQQQjT1KOZZ8J
	QnGBIS5Gr85LrYKBJuLYDzkZSToiTwnMWYWpdtXhMV1OHArFLfwuS8uXwPKilzJmTdzK
	GSYRPnSR2T/mAm7FctcAb5DHGKwSQyuPW5CCfh5p+n2reI/+HGv+Iv5ssoYdOTZI4L1b
	6516hqJmZXk0n9gZ1FNA+7cSt1EPPQaHi8cgjjgrfbvP3nG5AlaisY+s4RMrg7qdHfZZ
	Pu+R9KRoEzeNmdgTVo2TbzwaYFCbBsVJdvkdPSKmj8MEQER8TdmFPEDrGcfIrMSY+tRu
	hDPxebjQVGmG7yA9T2rftN+PHGPRVrXG8LGqdTy7Y1ma52dVNl73f9gZbPNDg2AqykPv
	/ubePd+WHi6397zcTmR4uM7+m9fZucn9n7ryaPRwO/xet8OpGg+XlH/skjLv8fvcSr42
	1c7a/9WJrK7yvIMuKKZ40B0yBiIo7O3F7SZpMOHld/2fShN/oTx+/9x/yf08y1tfv04L
	3OCS8za99q+qsnpHyfqL8bNo2T2/G7+4/Qs=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
