<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bY/BSsQwEIbfZc5h2ba4lNwEBXtZQWE9iIdpM93O0iQlmRak9N1Nu64oeEu+/Jlv/hks
	CRoUBD2DxSgUnojPnYAu9mWpvtkbG+lA50V2UOADkxMU9g50uShofbAoJwpxQ5mC6Xqu
	XOvXwfXIvTmOtqYAGvLs/q7IDwgKcBh+vkG6x6Yjiy808ZXtFQw9yipIAX5+haRDcxmj
	2LRDBP0+/6Mnh3VPBrSEkdJUEmF3jusq1LbU/A1v5IiWkqJ4OPHEBm64ckIusnymaFKz
	SVZueevxuCXg1r/6/dZ4u0vletoNnRcPy8fyBQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>3072</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-09-12T17:54:31Z</date>
</dict>
</plist>
