<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vZRNj9s4DIb/i85GQFKkJOa2i3bRXlpgBtgPLHrwxErjIrYDW+m2GOS/L5VMp0mw540v
	Mb/0PiStZzfk0nZtad362Q3tUvL8Lvefd8WtPaTUvNj+6Luyc2vyGBo3zX0eS1v6aXRr
	OTVuO81DW37P83I2YeO+Xv6/H7dTLfx07Pfdh+PwlGe3doS/RnaNaw+H1xxn78tml4f2
	IX/tLzZo3GHfllrdAvqPj87Oarsvx6UMJmBx67+f/+PsPLZP+9y5dZmP2armUvrx81J1
	bKfNcXnIm1JfvtsJKy8+ckyMCOKFITbun2onjihAohCil8jauG/n+Ag+eUYNSRGVGrc7
	mylJCKxeRUBZQ1V6yHM5ztmteSWN6/Kh7H40ZNMeqqv75TZmaL/1w3H4aa3tfnzz8beH
	PHZ5NoxXUN+4/XFoP0z9kh837T5XGUCAyujVe5SoBDbAbbvJl1Ztdv34Zw0TEwnGxxgk
	CESj2Odtefs9/1XdKsApsBi9NyAfX93nbI6q6BNEjxxStCPmujCv7mSPr14S5ETWuXFa
	Xip7DgDWJlsta3gyXxV18QGCIkEI1ngl8j/rvvg5WF1NNi9rd6BL3QuQZZnaGmKFVfDU
	XOF6NmCKwbQET+pvaSPVbPCchG0FSG5pKUC0DbB0661HCHe4ZF4KCpQMKyHzFW6EkFCs
	Gwo+YvJ0hRsxwllySEIoRHe4ISgKRgWNSUwdXuFSAtvPhHZukmQjuMENEgGSTxLFNiHw
	3XQDMxmGZdpwbFP5frpInKLZDZpjdd+Ot2Yn2xpSoRAlXfGaFjDBZNBGrJGveDloII3e
	ttKWRvUOlzVZAALZ9Ak9XE+3igzA1ikGsSnE06fm//2Uh368+y5XXs+/aHpt6oQnC+s7
	u5b6bX++5d7U7/3tdlsl/rgi318HbKZhZVfgPq8Ou6lM7vTp9C8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-10-27T07:31:17Z</date>
</dict>
</plist>
