<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7VnZbttGFP0XPqvG7IvesqIp0sSIgaZF4QdaGllsuAjkKAsC/XsPSZHDId3EAdogKOwH
	Iybv3PXcc+8wn5PC+XSb+jRZf06KtPGu/tllt3ufrAXhbHV+9jbb+n2y5oSJVVLVmSt9
	6rOqTNbqtEp2VV2k/jdXN90jukre9/9+Ue6qVvHNMcu3r47FjauTdcLoY0uTVZIeDuOZ
	BH83m70r0jfufdY/I6vkkKe+1Q6B7PVVAlvp9q9j4ws40CTrPz/fYduV6U3utsna10cH
	rc77rLxtWj/Sg6v9sXYI7kKukts8bRrX/Jp67x7lefUhnNq6g98P7m/SQ3tq+yg+XqQf
	s+JYhKdUrZKrp6+fv3Hl1tUwOrqlV0l+LNJXVda4q02aQ5hcECYVIcZYZbXSxHJI7dKN
	6wPb7LPy91ZMKa4to1xZQajmBqrczj/75P5o3wrKtOKKCkMYp1LT8XV3WEhqhLGWC24I
	F8Sukrotb3ivjTSCWyO0VkYjrLJqetWSCkWtNEwIS4wiUN061b9TUuOU1VRZapkxQW/3
	XjHBOYNuq4Rmktpeb2dTco3TnAgNHYYqcbpuMbQ5Nm/cxrcJ/9SKcaLs5Kc18aF9zuAo
	tTh9/r1KPnbiavIMv5HMffcclqY/EiAqsnJWuQveW8FRaahg9PRdXYK1bAtMZ7usa5Gn
	Lfye7Xat8aG/XkwFNlVxgf7J3cVhX/kKnfGNrXCoal+nmZ9j/PL8/MrXrrz1nb+yx+XL
	tNwWaf2ux+dQ7u6PLlwlBbM9hrpsaUEtUCABbNn61wshx0QTTtkoBghQxSiJ5LSUpjs5
	SAFkQindGRilDJWW6siosUC87C0EOcWAt6kYNImFc4ba86NBjBvJJLdETZRpJSi6QaoQ
	AoNmYEdGYkQSxBaEOLO0P9YCvjqCV19mhyYkUDBi0IjBPOcC3ROrFUprzadCLSkwMw1X
	EgOETY1zkDmbaZLC9OdGRRzd2tkP5SJofkZD4jgzivLYHLhrcHOQkobbWJM0YApBggzj
	wij+NccZI4zOnBIInymqJ24x8OAMQSHdg1OanZHX5T+aYhBJu1YmiE7aFi3M2JYw9Uio
	N3X1IRQLMUs4IiMsGwNK69I1uhHD0xi8VpyYGHggUD4LHLQtKZlr40qNPTUIUkq4HHHV
	durj6lhu0emPq48T7jJgIMmNkgxAI+LMXaJNE2oF3oMSy8/cxazhcFZSzuEVTA7cRZBF
	riQoDfEbLk69ydchnS8w/XpnDahfMgRMJKKzveSTqvTVsZ5kEnxLYHlWUgw0I5UQMupk
	woF3pobEnGUBU2v6Bg+JpxxcEDeqgNvmnKsx94glbgSG1POZFOCs2lk1ATCxcgHNULJB
	SCljZzHMyQg7gFE6qrMOoY/tQue5sDx2CAWjJqI0ehGFL+eG8F4Q0vPbQFNaWykmRNXW
	7Jdj+S4rXdOca/sTysNVC1EJQgdBUiPHPgmVpTCG4sqIBq26A/+UyrEyAddg6f5sEMSu
	pGXk8J1yvN05punTVt/FEUjGDHbQLsecBEFqsQdNC4vVZQY4oBIg11MehFAg/VFuNv8U
	s3yAyHW/J01mgiSWxYSPxQs9zGNKpIwPmB2KTZhCfWIfOQQIjQIWoqflia4AyAFZVpJz
	PoPY0HEj57Nh4k1IP55nlmCPjZGOUAxn04SIAdZBzXy+LLsdOJyN7mmvI62F22Zp+RIo
	DsldjhtUXy12EYnNOabxxQgU861mOPBt6brf3CYGW850ki5HspwBEQvKIqj7jNov8hmy
	mpXlcovRhMTNxymZ4fA+MSzbCdlYhDGXIMwyO7P1tVyI8dGoBjceNu4KLbFdHg9ZHqJc
	kBpTYliersNlKN4Z1CJsDDmy6CxcD+xsr+DdLS/uHKwSMTGAVMloYDIlbDRIDNb0kbvO
	fPOkdo3/vn0xJGmWV72YxjqaGDiW5vlllQ0fAH7cZWz1w1Z9TMfDfP7G+Rxq+nDXvedd
	N5Dsw+32+9xuQ8b/X5N4vAM+XBh/2AvjWMiHe8u/cG/5Z+b47y4qX9psw8T66pZWV3l+
	Bj0l6IS2D0H4aLzT9WmVNNj68rv+56WJPzwP36n7j+HPs9y7+lVa4BKXXPn01r3dZ94l
	8+/nl9Gpe35Cvz79DQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
