<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7Vnbbtw2EP0XPW8Mcnj3W65oilyMGEhbFH6Qd2lbjVZaSNpcEPjfeyStJJKbpg6KpkFh
	PRg2NSSHZ86cGcqfs63v8k3e5dnp52ybt51vfvLF9U2XnUomaHUY+6XYdDfZqWAkV1nd
	FL7q8q6oq+xU366yq7rZ5t1b37TDEF9l78ffn1dXdb/w5b4oN6/220vfZKcZ8UeOZ6ss
	3+3mORn+btc3fpu/8e+LcYytsl2Zd/3qMChen2fYK9/8sW+7LRxos9PfP39hb1/ll6Xf
	ZKdds/dY1XddUV23vR/5zjfdvvE43IlaZddl3ra+fZl3nX9YlvWHZdbG77qbyf11vutn
	bR7G07f5x2K73y6jXK+y8yevn73x1cY32HR2y6yycr/NX9VF68/XeQljdsK4dYwLxa1w
	ggkHo6t87cdzrW+K6tfeykhpiWtS1ljOBLNYyl91Tz/53/rXUhiutGPKOuuMkG5+PcxW
	mjEETRplrLUc0Wv66M6vlbBKam2Vk8ZJJ1ZZVbfjyooRZnFjlRWcJMfKvVPjO6MVN8SF
	EXBMU7Du4b1QkitmOJPW8WndYU/NhOWCG6OkYeSkvr3oKbTet2/8uuvx/tSbCUwLH2D7
	oR8npkTwYOePo7eCS7JwePwJItwM5kax8LHg0LaoksBht+ExmiugRPz2u7qE3YoNKF1c
	FUOGPOnZ9/Tqqt98Sq/nocG63p4gfUp/srupuxqJ8Y2ZsKubrsmLLqX42WH8vGt8dd0N
	/qqRly/yarPNm3cjP6dwD3+Mx3XK4MQE8wEtw4zRQhtujer9G4zAY2kt2cBMmHloMdMA
	zzG9WEkDMKUSoZVhYC1pFZoJySyx2Ew6xfngx2SGhDJOh44hSBa5tDivlNay92BxyiCM
	PNhNOyutFonrSFHlwpUYd6Pf4Hm9h5q+KHbtghvYtngmFDQWaSwC16QmsJJCbIUmwWR0
	AHAK9A28QwayA4iL0Tw0L6S1cxTFKA0kNjOOYrgO8E0WkiZoglV4ggTJKQyLEdeahZAS
	KTVOWo4vIRWR0yRS0GGfHJ4EjcAOqEcVCyY58vYBO4GEqSGofJBWMrN4Xjb1hyVE3IIK
	/MDlKa6WQQIhq6Ef8IyYZkoG4MDg+FAiGJztlDbCpgdjQnMRJYwzE9YXY2Y+qvfVBpn9
	qP44axWhakD5tYHEC6isOWiVsMJah50NhAr6vZr8gfJJ5RxqkoHgz1IlrWBMCgEGWiPV
	7bjj6wXQ56h1Hwc0TV9olAPu2NrM9exxXXX1vgnQRMFh+pDMUyqlSCIdHY1jB5O+TvID
	tIsZwEhjTw61h8VsJIuKJKLs5VKwNMUln7LhYMTooAthCqlDhg42D/pCntBaG0sUCRMj
	laSinYVq8ge1mCU0QUmO1IF0spNbZHGCCZyelGAxU1pJClPW9CE9DE08+nlfvSsq37ZT
	TFEXNVgiARK0vI/rnCBLOElqB7JFMoaG5JjLQA2dgIjEcRa2IDO4IhFKMag8hW6xUhRr
	gqHjUPVM57G+wFVlGYu5JlQqedoSWptEYRfAZtJq0i6uSWRQlZxmwSEDNvRI941QoP7o
	PIBweBJmyKRskQFbp0AfVU0BURY2Uim0WCbGV8KTRMpQYCSjpOiE1VACoaTaSESFhTLX
	N3NpAADDVB8nK8smqJe1FIFDIWLHtfco3DwogQB16zdFXr0AewNoEQrFQgkxJKxJIyaN
	5MSjgKGembQIHzcbCkKWHPjvULtTjY5cRspPJTKomnH8yDKTCsNdKuvXpAyYFlV11KtI
	jqtIBJY4FuU7nABXnhAqgVRNOkXlNHdRYtBS+L4FCagXtyoqyeRm1C9GRTvb74pyOacg
	NqnEnJU0N7MXy20n7hOUUdqKuKhLLOWStDhqJlCUF24sPSkl+o9lUL+NTSoJS/oIYRf+
	HgTncePb7j9JjQmsBGGtIuoNMj9qQD8jL8uzupju+D90D7b6cWM/I3Jfoe9eof/qFnR/
	nU2vs0tHcX+B/TcvsMs6/7fiu1z27m+EP9aNcD7+/fXkH19Plj7pu99Hvt7Hzjh8tRdr
	6rIcSc3QBSlHQoDKDnlN/PbidpW1aOzKL/0TpY0/Ik/fnMcP28+KsvPNq3yLG1t23uXX
	/mVd1W8pSz+Gn0XT7vg9/OL2Tw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
