<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZA/b4NADMW/i2eKgESRelvbJVkaqZXaoerggAFX9wfdmaQRynfvAQnK0M16fraffwMY
	EqxQENQABoOQ3xI3rYBaZ6siuWqfXEkLapUV6wScZ7KCws6Cyi8J1M4blA/yYZYSOM71
	ztZuXHzoWVevvTmQBwVF/vyYQwLYdcsMbPIizdJ8k8VGKFsy+EZHnptZAp1GGc9EJ+/f
	IR7F6qcPYmKSAOpr+CcEWTxoqkDVqAPFtSTCtgljojOepr3xl4Yt6hfvusX4u5/UyRAM
	elk6p5nDjOZ8bxOPIzayT7bRBOohitiLW0bbK9aZYensNGLlhju7F6+8x8dZyrGKH3MV
	n+WaJ4hT4Bv63X2ndCaNaDWlXetigMv35Q8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>2048</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-24T16:07:27Z</date>
</dict>
</plist>
