<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7VnbbttGEP0XPqvG3i96yxVNkSZGDDQtCj/Q0tpiw4tAUomLwP/esxTJ5a6M1AHaJiis
	B8Fazs7O5cyZWfpzVrk+3+Z9nq0/Z1Xe9a790RU3uz5bC8LZalx7X2z7XbbmhIlV1rSF
	q/u8L5o6W6u7VXbdtFXe/+Labliiq+zj8e9X9XXjFV8dinL75lBduTZbZ4w+tTRbZfl+
	P+/J8Lvb7FyVv3Mfi+MaWWX7Mu+9dggUby8ynJVv/zh0fQUDumz9++d7znZ1flW6bbbu
	24ODVtf3RX3TeTvyvWv7Q+vg3JlcZTdl3nWu+znve/ekLJtPYdfW7fvdZP4m3/td2yfx
	9iq/LapDFVapWmUXz9++fOfqrWtx6GyWXmXlocrfNEXnLjZ5CWFyRhhhnFpNJdWMSMYN
	Qplv3NGxza6of/VikkhumLRUckqMoXCxdNf9iz/db8fHXHFNtNHGEqu5mh8PuwUVilIq
	pNRKEcLtKmt9fufnxCrCDSXMWkOhapXVTTeq5lJoxgnX1ChpGOzzVh2faUGtEVoSyqzi
	VAe943MqYTcUUsOF8FZ7vcczudTYy43m3n97d+kxtDl079ym9wH/c5DS2i4/OP2TX6dE
	GWgXbPyGxbd+nWvFDbE+jsM3LNoN8kKQ5YcBRVVRJ6k748dTtKLSQC29+29twnHFFqgu
	rouhSJ57AL64vvanTxX2aimwaaozVFDpzva7pm9QG19ZDPum7du86FOUn4/rF33r6pt+
	sFcekfk6r7dV3n44InTK9/BjcFcaAcAoqRg2DAHTVBElBKDLpLdwEFMUcbHD2iQGeHLN
	iVBGL+QAPyPpUp2ySnLOSKRPEwpsx3LAHjHS8oU6LZjSUpvFsSgsE2syHpg6mK+JoEfV
	wSyFaiKRHqKZltySSIwRSlE5QRkxAsU22ATENwcQ6+ti34X4Cao1E0eRcRMXxCTuCgDJ
	ssgRX1CpmcJYFGcUZg4uSYIimeYLh7kSejQgiBgi4TNRCz0yzZQG7peR4ww1tBSJ7GXC
	JLlGQKctkwwzZDQu+ITIJ7YwLozicRq5MYLpyDFmJygNsY9aGERylPEP/kzLORiNCSQL
	mAxce9U2n0KiqNKTB1NyJ+2TDYyiFCBnF0KGebod14Kkpak2A14kWI4FubAGnLwEuqGK
	GTEJXh7L9GlzqLco86fNbWAuSwRnFDUGkjea8om5LCEgLAKCp5YJOjEXIo2wWsKkQs9B
	cifm4gr9CCqEsAyNxbOpP/NtiOgrdL/bIZygU+RLWMEBfVDB2OCeNXXfHNpFOIVCZNgy
	XydRQpekjEdRkuh3Kg46ikXGmGfanDABsswoM3YBI8olSytYsLn4R6nRxoBa/BhtGCTg
	M8JpElYB6zDLlkAgnKDR6KhADBq1pUto01OqszKxKDgSZPSSgWUgnaAEzBrZo4XP1Bil
	EUU/HeoPRe26bsonHcACVAKwSiAZcq6OkEp2D0hjtCsyBXo6HGGWI+8uUmSTAuNMTSy/
	qAiWhhb9x5CRIoKcnotksgmg5DEquIdoLARWtTbmMUBQTFtnsdMmwdD1SBxkBT6YMuyD
	7OehBfczznnSfEQcE4wofgwjC3RLPx1qGucXnTTJAOorAYmgJ5QtlOJppQhl2dgkJylx
	EjgJ2hR2yd2Yk8jYIoOUBaPHVumTpik5hoPlcRBn8qRpUaKjXoGuSRmdW2vltkVevwZ6
	F/GVNp1NeKi4RXPF+EfkEnnqPm+EpILGQwcIZBjCI3UPid/DOvVpXWHqTgcY3AYSoDMz
	U9RXNtsvkxvCXNT1yQST1gYH69tk/nuYJylHJT1eanSm+Cg07nGs/Mp4jAPqPCqQaSry
	XnqKOz/sizJ4ydGwbAImEnDjd03DcTw3+FtYNBOCliw9CZBKGp1RlqOBxkZjNo1HHIPL
	xjz2hLaC20XMkGZBmhMPPWtd13+rYpnClURZyWgiwIVznrv9lrwsz5tieg/wPY9lq+82
	+7Ovj137QV07XIkeL7oPu+iGeePxavvvX22Dsv9XG54vgY8Xxe/oohjcf7y6/CNXl0CD
	3+Ku8ndTbWDEL85lbVOWxxIQUnDMLsgfTtfM3F3erbIOM155379cuvh98/R6+vgO/GVR
	9q59k1e40WUXfX7j3u+K3mXpa/PzaNcD35xf3v0F
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
