<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7VlZb9tGEP4vfFaM3Z09/ZYTTZHDiIE0ReEHWlpbbHgIJJUDgf97viXFYyk3dVM0CAr7
	QbDJ2Tm/+WZW/pIUvk03aZsmp1+SIm1aX//is+ttm5xKRmJ1ePZbtmm3ySkxIVdJVWe+
	bNM2q8rkVN+skquqLtL2ra+b7hFfJR/635+XV1VQfLnP8s2rfXHp6+Q0EfyR48kqSXe7
	8UyCv5v11hfpG/8h65+xVbLL0zZoh0D2+jyBrXTz575pCzjQJKd/fLnFti/Ty9xvktO2
	3nto9W2blddN8CPd+brd1x7BnahVcp2nTeObl2nb+od5Xn2cTm38rt0O7q/TXTi1eRgf
	L9JPWbEvpqdcr5LzJ6+fvfHlxtcwOrplVkm+L9JXVdb483WaQ5idMMEMaaYMcS6clpqQ
	ynTt+8DW26x8F8S0lkI57rQR0kihYTn3V+3Tz/738FpKJaVxwjLDhHHWja+709IYw60W
	VknGNCMkqA71Hd87JhWTggtpuXYGPpRVc1DtFCllnNZwVJhgOXjVvVNCWC60MUwJhY+Z
	3v49rFrmNLNkYFiZXu+7/qwiBn+tYcQkabq5CCBa75s3ft2GjH8OYoT38x+Y+BieIxxp
	NIfj/Sey/qlzF8l0SpAdPlfJNjxHZABOkZWLap2Q636gRVmOFNz8117AQLYBdLOrrOuE
	JwFlT6+ugr2hjZ7PBdZVcYI2yf3Jblu1FRrgHyJ+V9VtnWbtEspnh+fnbe3L67bzUPXw
	e5GWmyKt3/cwHIra/dEFqCXXjCstIN9lCLgjBxAADyo42EtZzhG/JDOKCSG54Mzh0SiG
	h1wDYXYupoPySUQTt6TcTBNz0iylHEngkPjolrZMcucEt3N7vZuDiHbcOqlo7rkBGkSk
	yDDrrJy7rY2E9pnXGu+F5qYzBjRXe7Dmi2zXTHlDjoioV3Q4RdIdZUSSZLF99KA7hDZJ
	Gc4dl2yqAo4RiVhKgVgo8pOkHs5NUsrOs4tO53IRLrojShx635AVUcUVkY5dEks9Utko
	fsGsBEVE8ZMj4kzNnRYkZFxGAuMxRm4eP9djKS+WQwoyade1DFKGDKjJWgUYMznS5WVd
	fZyqBUgzTror6MGChftCcRfDRbjQ6RHyrDbaLPoBNseUDWJKigFGs/JP9kAfgSq7KDuK
	RHc+qvblBt39qPo0URTBHtqGyJLVivSBotARgIRFHFIgVHVgKBKIixhzFhOFtBIjQwUl
	1oXIrQD53/QmX0+pfI7BBh0PAncKxzB1LApORvBe9HFVttW+ntLIQfI9wIfeVcgpvDRR
	PY9aDu6aRc3RXOBqFmU6RGysi+AsMEuXeOUQAM9HjEHC8YjHsNzIRWtIiQlnJhZ7cKuU
	MlrPKTFIsbj8RhgVwRW5OygeZVA8GwHuGB2O2UWPSefQ5XE2HWGc27k1jTE+Y6dQql/3
	5fus9E0z1BTnUHUkWaKyXHNONPbGrC+OYIzAwm5BcRWIY2eJid2A/+yy8jNyG+UwNcnw
	JS0oxeYlHeMZayVI2ZhfzZwUJk3LxoZjmmIyI2xDsj/4DSHOWMydZmT4kOaw8EyZAxfa
	g4ZReqlRomyLOBWoauDDybJFT/d4HnFgBh6fadNCu3kQcjEOZdjfInOIWXNaMvscS7B7
	1JtDcw0ieujnSUIv8QD6NUMHzlpp4Pox7dICYL0Uclr4TZaWL4DcKbNKWIrow0goX6RM
	cSbiQOCkA/wW/DvHD+SN+76c3W1AS31MaWxZxZiC0ILaHnl9h8H6bS5DarOyXO4sMmbI
	73FfYeWINzy6ZS+bMjhEgK17OWrvlAmmFDeLZUXrYcu66CntbL/L8tlqhpE0zJGR1YZu
	uphuNvGKoMktNmELPjhiLjPVYhDjQhw1K1JEMf1jcHPc+BZltJrjojYHFvoRw/ww3Q60
	87j2TfujO2TI1CK7BiuIiOp2WGYhn+b5WZUNl/mfc/Na/cz1HpNxP5fvNpfHat5fY//m
	GjsV5v7i+oMurqO9/9vcnS5x9/fBnh5+mvvgbK7f30/+3f1klPqhF5Jvbq8T4P56Caur
	PO9RqpQA12NdQZ25ZUbfXNyskgbrXH7bf0ma+Nvj4cvm/hvtZ1ne+vpVWuCmlpy36bV/
	WZXVW5EsvwU/i47d8Yvwi5uv
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
