<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7VlZb9tGEP4vfFaNvQ+95URT5DBiIG1R+IGW1jYbHgJJxQkC//d+S4rk7spJXKBNg8J6
	EKzl7Owc33wzS3/OKtfn27zPs/XnrMq73rU/u+Lqus/WgnC2Oqz9Wmz762zNCROrrGkL
	V/d5XzR1tla3q+yyaau8f+fabliiq+zD+PeL+rLxii/2Rbl9va8uXJutM0YfW5qtsny3
	m/dk+N1trl2Vv3UfinGNrLJdmfdeOwSKN2cZzsq3f+67voIBXbb+4/MdZ7s6vyjdNlv3
	7d5Bq+v7or7qvB35zrX9vnVw7kSusqsy7zrXvcr73j0qy+Zm2bV1u/56Mn+T7/yu7aN4
	e5V/LKp9taxStcrOnr55/tbVW9fi0NksvcrKfZW/borOnW3yEsLkhDCijTaWEkIksUwh
	3Jf5xo2Oba6L+jcvJpigzBIpuBVUcOp1ucv+2Sf3+/BYW0OJtkppIZhhy+NhNxcSmokh
	WnMpqVllrU/v/JgzpaCacqGJlRwe1E03apacKGo0EYIaY6BnNRg1PpNCCSO48VZpquSi
	d3wuDPQqJqXiQgguRr3jmUoIwxjjzFhitKC35x5Dm3331m16H/BPg2NUk/CD42/8OmVK
	K2qJOHxD9Ue/Dm3wX2o6fa+y60FeGRt+DFBUFXWSuhM+PoVSabCZ3n5fm3BcsQWqi8ti
	KJKnHoDPLi/96VOFvQgFNk11ggoq3cnuuukb1MbfLIZd0/ZtXvQpyk8P62d96+qrfrBX
	jsh8mdfbKm/fjwidEj78GNyV2lAG2SFWWgKr3DC/5I0bJBQBVhFdo2cxo4ySjAuuAzFu
	qOHS8lnMEKUEUaEq7UE0gGySQRoYiorw8EhNAMJx76yLKco4EcqEZwLqlOrQNE2ZIKlp
	khnOhiNmRwXTTChiIzlKDLdGLC5ooB7FTr3FHvLNHsz6sth1SwCFQXGwKIycU+i3kamS
	28AdLoU1iTNSW2mi07lE2UkeJyNOBYSFSRPGlY5FUCIyyoNQVkd54BJ8MW4L9Mj4MKQg
	lpCW6sHNSYDpg5+LCJ3TNgsRRoWJMoRNNLaaGXHQPcQ96l8QyW9GC6EZWQNNcmTeLkR6
	0TY3S45ggzBaWxYaqxXKPskStcIK5UkugB6spZTyOMiRKuMZ9ch1DpofUzOLjSAcyBO1
	+bjZ11vU9uPm40xXEhkGwwLsVDJirZroCjDUylBJPZaVp6URfkyC/tAtlGVUWWonukI4
	LYcrnAuwFfEU6s98s0TyBVoedDB0NYtCIExT5EWZQ0970tR9s2+nKP7kwxhmCCYShR4X
	BBAyaFrGEBPyAFoVTdmCYJFRznUUagYDDqW0BBodyyoR1gXRXKdUgKwpkYjRaeGL5UO4
	mTAekJRkMVLowgsLRTGEOwa/ByCLCy3A2ByMI+bUCFlMT2jA8qhGQMxQJwMxMAjCPckd
	QPXLvn5f1K7rDulFTpQaWpwAKfGBb+cyCUoEIwlLyBT7JElAzUDx0EZDclb2jgwD+JiR
	IiBgXBFphPwwo0aCnaSo5FOhzFJKMUoCVYdALAJJAPVdSDIoBkJCpoYts5EB4oiOu5Ra
	LDofp6KA/0HAPOkajIiJyheAaiNDN6Wg1sbIw2CW8rI4ChjibON2I6SWNInHQuezIorB
	JmkmXLK4LwnMUamQElJGQZOUsJTr1MIFk5SeExs2wUQXBmAMpIf2hNhWblvk9UsAOBhR
	UhiBGO/weI7nnDQMcukwI/3QHdYjah07UzvvE7179WtMkHE34WxaCGTmtjlRiT2y6Nud
	9mvchsgWdX00uliVMjAnSTHcxwGMUUbxsNNxjFc6GcKmFjqJ0GQ4vE8YhD1qBgyj4eGo
	85HXTve7oly8ZPAnJTYjebhrGovjqeHYINx8cGtIaAUXLhrNqpaaO2Kk0aAi9rao5DsG
	xXksXcQocjTVzURAT1rX9f9FjUzhSqKcDE3oaOrQJPyOvCxPm2J6AfBDzmRfhuGPkPUl
	GA9t+j5tesnmw/X2ntfbmWMfLrT/8oV26Wb/r/47XwIfLoo/8kVxjsTDzWX9D91cZrHv
	flX51nS7uPm1+axtynKsK7QwydABudWWi9vz21XWYdAr7/qPSxe/bp7eTo+vwJ8XZe/a
	13mFm1x21udX7lVTN+9Ylr42P4223fPN+fntXw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
