<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVNNb5wwEP0vPqOVbfwFt1RJ1RyaSLtSm6rKwQtDcIUBYZMPrfa/dwy7m7TqtZZAMG/m
	vTf2+EA8RFvbaEl5IN6GCNMXcE9tJKXUjGen2HdXx5aUghuRkWFy0Ecb3dCTUh0z0gyT
	t/EbTGEJsYw8r9+3fTMk4v3suvpu9nuYSEk4+1QwkhE7jpcagv+hasHbLTy7NUYzMnY2
	JnZMcPc7glq2/jWH6NFAIOXPwz+0obf7DmpSxmkGZIUYXf8Ukg87whTnCbCTjczIU2dD
	gPDVxghXXTe8vFfVMMb2bL+yY6qqr/4s9/bV+dm/R5nKyO76/vMW+homFL3Y0hnpZm/v
	BhdgV9kOk+mGssJoo6jmIudFIdLeNraCtbGqdf1DSpOMC4VnoTXnihcGW+ygiTdv8CPB
	gklOqWKUCm3wyS/wwwpTIUxeKKOMlKiSkSmd7xnPCym4zpnIpTGMS2Tvh3CiloZymUst
	uSwYZ4glVwsmea6K3BRGMoMSCTvzrjil1HBhOOVMy5wWK+/qKedaSGWEYNg0pfr4mIao
	msMWqph2/G2xpkzxcaH1lxRnueEGp1Oc3kj9uuTLj1EjMb9d8k0aUu/6v04Le1+WVkwa
	rGDH/+0CBVyNo+sat9yE6zRlN02T9M7X6PZjQjX4DV6TDjZjO8SBHB+PvwE=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
