<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVPJbtswEP0XngWDpLhJtwRJ0RyaADbQBUUOtDSyWIiSIFJZYPjfO5TjpUWv5YGS5s28
	9yjO7ImHaGsbLSn3xNsQYfoMbtdGUkrNePYR++bq2JJScCMyMkwO+mijG3pSqkNGmmHy
	Nn6FKSwhlpGX4/tD3wyJeDu7rn6c/RYmUhLObgtGMmLH8VxD8DtULXi7hhd3jNGMjJ2N
	iR0T3NOGoJatf80hejQQSPlz/w9t6O22g5qUcZoBWSFG1+9C8mFHmOI8AZ5kJTOy62wI
	EL7YGOGm64bXS1UNY2xP9is7pqr65s9yb9+cn/0lylRGNndPn9bQ1zCh6NmWzkg3e/s4
	uACbynaYTFeU50pzrRUvlM6FQe+NreB4rqp1/feUJTlnUuYFZ7zgVNMcqaCJ9+/wY4Gp
	lkJpwSUVXCgmzvBSLRgXUuQ5opoZpdHhlK73gmtFNZOFwgemIHs/hA9qoXNmtKCMGl1o
	gdTJ1RHThjLUZVJxwQSTF94FV1RStGQ4LQqKwvzIe9REHUG5ELhRWXBxeE49VM1hDVVM
	P/x9STOGXi+Uf01xJgS2Jrbiac/IW4rnSphrwGSkXfILhn3jXf/XZa3yYllaMWmwgB3+
	twsUcDV2rmvcMgh3qcnumybpnabo4TqhGvwKp6SD1dgOcSCH58Nv
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
