<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7VlZb9tGEP4vfFaNvQ+9xTnQFDmMGEhbFHmgpbXFhodAruIEgf57v+W9lNM46BUU1pO0
	nJ2d45tvZqnPSeF8uk19mqw/J0XaeFf/6LKbnU/WgnC26td+zrZ+l6w5YWKVVHXmSp/6
	rCqTtTqukuuqLlL/1tVNu0RXyYfu+/PyugqKrw5Zvn11KK5cnawTRs8tTVZJut+PexL8
	bjY7V6Rv3IesWyOrZJ+nPmiHQPb6MsFZ6fb3Q+MLGNAk698+33G2K9Or3G2Tta8PDlqd
	91l50wQ70r2r/aF2cO5MrpKbPG0a17xMvXeP8ry6nXZt3d7vBvM36T7s2j6Ktxfpx6w4
	FNMqVavk8snrZ29cuXU1Dh3N0qskPxTpqypr3OUmzSFMzgjjUgouqFFaKkWJRSjTjesc
	2+yy8pcgJrXgympJ8MUabXBy7q7900/u1/BYSE2MZEQbrYzglo2P293CKkUIFwR7FVUa
	Z9Qhv9Nzw7URlGlNhRAc2suq6VVbaZUQlnHshnJ4Eaxqn0kCMDArDYeEFHRS2z3m3GoB
	p4wmFK7pTm3nENNMKs2N4lZIae3xXcDQ5tC8cRsfAv6pPZ0pG31WyW1Yp4Sp2QeaP7bi
	ikcfrO9acS4jLRIgKrJykbkz3j3VikpDBaPHf9UknJZtgensOmtL5EmA39Pr63D4UF/P
	5wKbqjhD/eTubL+rfIXK+MZS2Fe1r9PMLzF+0a9f+tqVN761V3a4fJGW2yKt33f4HNLd
	/mjdVYYpqpFxyLfh0sC3BTw5ZTIY2EpppohGgGdimhNNmbFEzeW04azdOogB3YRqqc1c
	neFCQKVUM7noOZQLNTtMEa4l8ixVrMUqYvnMdFSDjA1HlWg7V8UY6oa222buGUnn1jBl
	iFKi9Q04rw6g0xfZvpniJpi1nHYi/S7UK++9HzULKF5EjgfYERq5Ipniap4FKLHGsCgq
	UvXejYo46zSPIooYY2JFY5AmIa2ZiALH5bhtOk2DJyzSN0oxIdQy4fCOSW5nUQC/gHwi
	VYKzASmjKgsiFXOrOBiV8CgNHDTUYbNNQtTBIJLedudxqyg1lhvLGGI2UulVXd1OCaNc
	gRhVBAaj7IlH4E1piYlQbDQ7hRafhcYIEH1fR5PbTIF65hkzREglAR3V+xQq9Lw6lFtU
	+Hn1ceIsClJnqEPAEGg1fOAshUgSAeChLRAZ1rujgDENZpZcGRhC5EBakFJAAJHEopUY
	c+zOfD3F8jnaXlcEwLyhUkjDLBBiewJ5XJW+OtRDIH9AC4RNSLGl1s5xbXCI5HpRWoQI
	ZtCmbFzvivIY3ERpNDK0q7mUWIIEWRl2DkhqW1Z8JjLN5tkhAIilIkqzMIYMxg5iC9ID
	/EOvn+GFWE17BM24Q0ojZ2oYH9hrYip5UpaDp6OMDZGP6g2jg17ahMbPIyEkG4ntg9kj
	6qdD+T4rXdP0uUXONFCHogeeKCJGqBirZKoQhgRqM+duDkAQGfvCJLMsYlRrGNXoB4ty
	JlHotAVeBOdymSmhF9xrTrAhyEkm9B1cBBZbxAZfxZJFOQEk+8U/k2ujFfcySYUS7QEh
	0mE0mvUDa2TMXmik/cLkCKrR9jEYkkysZLTXOtpohdYxrcLfkxgLkICKixAjI4vxGYbV
	vp0P2FNsCVDEctEn7yir0YDhrBk/jzKBtiLDJa4fYlF8ga/j3qnnXRHBLdw2S8sXQPEU
	YomZOC41jZI5aW+nYgAUOSGmacoZ3JkY7duCd7/mTTHxx+3UipN6kHTRMU6b6f067pfZ
	DcHNyvJknOHDvDP6IC1dUN09fbB8MVJySsmyFJAhISLogmy+ORiCnYwyFOPAVKSB5C4O
	+yyf0Zw1ZJF6HZrmHH7DnByPEMqilUVBxYxET4Y5qKJxkxpn7KkjLFoUyIPpJQ3YaNwL
	98WeoAf6eVy7xv8nBTLEaBFbEIRlMmoiGqAaqwHb0jy/qLLhTcB3OpqtvruMTxPQQ5O+
	b5Mes/hwx/3KHXeqi4db7b177F+/1U6q/ofdd/VwX/ze74ujcw+Xl1bm77i8fHnK+sdv
	K1+dbKcW9tUxra7yvIUwZRhTjFCBplECShzfHVdJg7Evv+s/mCZ+BT28se5eiz/Lcu/q
	V2mBW11y6dMb97Iqq7csWb5Kv4i23fNt+rvjHw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
