<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	PY67DsIwDEX/5c4Z0ocQysYGC0ggwYAYXJLSoKapErdL1X8npYjNPrr32BOcYdLEBDXB
	UWQT9sa+GoYqZZGLH7tZzQ1UIfNSwAdrOia2voPazgK1D474akL8okxgXOdDV/tFXA22
	1cfBVSZAIc92xUZCgPr+X0La47Mxjs5mtCuTAn1LvOhTwJ4uSMdIv4fILn0Qoe6P+QM=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>2048</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-10-15T18:45:10Z</date>
</dict>
</plist>
