<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDBSsRADIbfJedh2ba4lLmJCvaygsJ6EA9pJ91GOjNlJi1I6bs77bqi4C358ydfkhks
	CRoUBD2DxSgUHonPnYAu9mWpvrVXNtKBzovsoMAHJico7B3oclHQ+mBRThTiJmUKpktc
	udavg+uRe3McbU0BNOTZ7U2RHxAU4DD8tEHKY9ORxWea+KLtFQw9ygpIBn56gYRD8zFG
	sWmHCPpt/gdPDuueDGgJI6WpJMLuHNdVqG2p+WvelCNaSoji/sQTmzvve7iWKifkIstn
	sic8m0TmlrdbHjYHXH9Q/a413u7SgT3ths6Lh+V9+QI=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>3072</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-09-12T17:54:29Z</date>
</dict>
</plist>
