<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7VnZbtw2FP0XPU8M7ovfsqIpshgxkLYo/CDP0LYaLQNJkwWB/72H2ihy3CZ+aBAU9oMR
	S5eXdznnXFL5mlWuz3d5n2enX7Mq73rX/uKK65s+OxWEs8307Ldi199kp5wwscmatnB1
	n/dFU2en6naTXTVtlffvXdsNj+gm+zj++2V91XjHl4ei3L05VJeuzU4zRp9Ymm2yfL9f
	1mT4u9veuCp/5z4W4zOyyfZl3nvvMCjenmfYK9/9dej6CgF02emfX+/Y29X5Zel22Wnf
	Hhy8ur4v6uvOx5HvXdsfWofkTuQmuy7zrnPd67zv3eOybD6FVTu372/m8Lf53q/aPY6X
	V/nnojpU4SlVm+z82dsX71y9cy02XcLSm6w8VPmbpujc+TYvYUxOCLXSMMIps0ITLgxq
	e5Vv3ZjY9qaof/dmUlCmKWHcakUlsXDlrvrnX9wf/q3Qkgm4oUZTDT9qeT0sFopyo/FD
	rGJEMbxufXuX95JbaoWyXDJJuX9fN93oWjJmqJFaW+ODpEjCBzW+44ZzrblFaAbBmeB3
	fC+J5NQYbq0yhnnYeL/jnkZLbShjUiF1TvTthcfQ9tC9c9veF/zLYMYNWf1QtPaTf06J
	QlBUsOk3CvJ5sMcuqJAl02906GawF9Sufzxiq6JOWnfCx7e+xgZu6e2PjQnbFTugurgq
	BpI88wB8fnXld58Z9nJtsG2qEzCodCf7m6ZvwI17kmHftH2bF32K8rPp+Xnfuvq6H+KV
	IzJf5fWuytsPI0Lnhg9/DOl6iBEpFBq8GQumpTVGKwswMOlDHO0kcBXZGUIVl1p4HK/s
	rAJ0ueDBDnUTCgUGloOdFjLZF5Djx/tqbQwx0q78Ed+JeFctqVBgY7BCDFJaqUnsjRhh
	FVl5Q7aS0XFpSEIRKhHtYqMo4XJ45IHfHKCvr4p9F8qIbDTovPbMGdecDBkujhEmjX1z
	Tohn1spGKiXIygIsT4oiDcgfFY8DtmaKcMmCCUjQqiZIgRz1SxElxOB+sbJRLQgUYV1Z
	pqJdpOSMjc9mA0iMjHMSmtN4lyW2xYaDcOvC0PnBUPJogMEkH0jMAV9ooYamCS3sSkov
	2+ZTaA+lZAHDAiOipIUARw2CO+ibjUI1nEAvZdzJNB/DAlBD2oRwu2qlIdbM6wYFBUGf
	NId6B4I/aT4HzQKcMCEIwuPSl3/WLO1Jgo00N0wSzRfN8tGhApgWmD1UzJrFAG9GvOCD
	kloMCok934ZqvsTc++zFVEpKMXMYqECRsBotnzZ13xzauZKPMAKNZtSCqsyE7MErnTTU
	myrBOY1ZjplldKIFBFFDaGlCO2Z1CmlqFdLD0FvtDeZbnYAShVcJnsBEbpSOwC8FFzEq
	iMDkjDut+MLReUfCJE/kLGZAAn9DuY3lSaTAMyrOCp2cFS3YJNpliEaeZiLshKdfD/WH
	onZdN3X2EVpLfM0ERUGEIIIvJFkRxOB0MPVl7inj3KQVA9O9C2bXA0NYpnSSMtOWSBYN
	Ag2pAb9o7PEIIVoaKUQi8NyfmZBBFB+okYonvKU6DGzauI6ILUpA3TWgGNNKJVADPQLJ
	L8bz0WoGrJPgA4sSOVDT4TGQgR5DF8e2dfhR5FNZ5ldxjaSyhom1AbeSpLNDQTOnsRR2
	OOqK0jHBVwK+mi+pUvpzr7Q6GRBHk1ELwywlyzyt3K7I61dAbSjmSifCFF4mQiAwzrTR
	dFLLgF1Ny6joSEWNXb1n5b5nMAeR+WcRkzF9OOFTee43U/9VvFDVoq6PTikrVVnis5yO
	ad0vC7WI4FKO+KwFIFClo0wZZylmv1kLcYcfgjP6qIQ+US9mZ4d9UYZEGc4+csL0Ajrc
	pyY/ftV8FI4PCpCBWZqX6S8ZkYnM4D2J3WP+YVCkk+1YQizCJjRVS3At0X+LdctheJKa
	p63r+h9MkblSSYGVWZII14EwFrEqL8uzppjv/D/tKWzzUzd+Ofc8jOf7jufQ2IcL7r0u
	uEF4H660/9mVNhwJ/3cTOVz/Hm6KP+dNMYDv4cJy/wvLYvYjbyjfOtCG88m3zmVtU5YD
	fq30n8Ch+16WQF5xe3G7yToc88q7/nuli78tz5+ix+/dL4qyd+2bvMINLjvv82v3uqmb
	9yxLv5GfRcu+8zP5xe3f
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
