<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVPJbtswEP0XngWD+6JbgqRoDk0AG+iCIgdGGlksREkQqSww/O8lpdhxi57LAyHNzHtv
	ZjhzQB6irW20qDwgb0OE6TO4fRtRKRShxbvtm6tji0pONS/QMDnoo41u6FEpjwVqhsnb
	+BWmsJhIgZ7X77u+GTLx0+y6+n72TzChElFybQgqkB3HMwal/1C14O0Wnt1qwwUaOxsz
	ewpwDzuUtGz9aw7RpwQCKn8e/qENvX3qoEZlnGZIrBCj6/ch52FHmOI8QapkIwq072wI
	EL7YGOGq64aXD1QNY2xP6Vd2zKj66k+4t6/Oz/7DSmSBdjcPn7bQ1zAl0XNaqkDd7O39
	4ALsKtulYLzBlBJBNNHcaCMNVjq10lawFla1rv+ewwQzmCuKBVNSc0mTcgdNvH2DH9nN
	BWPccM2kMZmKnd0LmhOtieBSUolJhhdoyu979lPCCNOYMkK4ViaV0A/hndoIpQVWWBMm
	aXblpBaXoEmWYmYMlliSnNSJdvUnLmpYAhmV2BlZaVdJbgwlWGQgwVKp42OeoWoOW6hi
	bvjbEpaYL08q7CXbSQIaQRPrcuchfc12pjRXkuRmrXeB2mynWJnLkyfWu/6vp9uw1Zuw
	QpPUleP/zSnJuTpNtWvcsiQ3eQBvmyarnzbs7jKgGvwmbVAHm7Ed4oCOj8ff
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
