// header

//$header-height: 110px
$header-height: 6.875rem
$header-height-tablet: 60px
$header-height-phone: 60px
$header-height-mini: 60px

//$header-margin: 50px
$header-margin: 3.125rem
$header-margin-tablet: 10px
$header-margin-phone: 3px
$header-margin-mini: 3px


$container-margin: 19vw
$container-margin-tablet: 14vw
$container-margin-phone: 3vw
$container-margin-mini: 2vw


// font-size

$kasia-font-size: 1.375rem

$production-font-size: 0.82rem

$p-font-size: 1.25rem
$p-font-size-tablet: 1.25rem
$p-font-size-phone: 18px
$p-font-size-mini: 18px

$h2-font-size: 1.313rem
$h2-font-size-tablet: 19px
$h2-font-size-phone: 22px
$h2-font-size-mini: 22px

$contact-font-size: 30px


// modal

$modal-width: 100%
$modal-width-tablet: 380px
$modal-width-phone: 320px
$modal-width-mini: 320px

// layout

$container-width: 70%


$green-neon: #24E103FF
$green-neon-transparent: rgba(36, 225, 3, 0.66)

$main-color: black

$black: black
$black-transparent: rgba(0, 0, 0, 0.65)




// desktop
@media only screen and (max-width: 1830px)
  html
    font-size: 100%


// tablet
@media (min-width: 451px) and (max-width: 1250px)
  html
    font-size: 80%


// phone
@media (min-width: 380px) and (max-width: 450px)
  html
    font-size: 70%


// mini
@media only screen and (max-width: 379px)
  html
    font-size: 60%

//// desktop
//@media only screen and (max-width: 1830px)
//  .white-background
//    background-color: white
//
//
//
//
//// tablet
//@media (min-width: 451px) and (max-width: 1250px)
//  #header
//    padding-bottom: $header-margin-tablet !important
//    height: $header-height-tablet !important
//  .header__kasia
//    margin: $header-margin-tablet !important
//
//  .hamburger
//    margin: $header-margin-tablet !important
//
//  .ham-closed
//    top: $header-margin-tablet !important
//    right: $header-margin-tablet !important
//
//  .container
//    padding-bottom: $header-height-tablet * 2 !important
//    margin-left: $container-margin-tablet !important
//    margin-right: $container-margin-tablet !important
//    width: calc(100% - 2 * $container-margin-tablet)
//
//  p
//    font-size: $p-font-size-tablet !important
//
//  .modal
//    width: $modal-width-tablet !important
//
//
//// phone
//@media (min-width: 380px) and (max-width: 450px)
//  #header
//    padding-bottom: $header-margin-phone !important
//    height: $header-height-phone !important
//  .header__kasia
//    margin: $header-margin-phone !important
//
//  .hamburger
//    margin: $header-margin-phone !important
//
//  .ham-closed
//    top: $header-margin-phone !important
//    right: $header-margin-phone !important
//
//  .container
//    padding-bottom: $header-height-phone * 2 !important
//    margin-left: $container-margin-phone !important
//    margin-right: $container-margin-phone !important
//    width: calc(100% - 2 * $container-margin-phone)
//
//  p
//    font-size: $p-font-size-phone !important
//
//  .modal
//    width: $modal-width-phone !important
//
//
//// mini
//@media only screen and (max-width: 379px)
//  #header
//    padding-bottom: $header-margin-mini !important
//    height: $header-height-mini !important
//  .header__kasia
//    margin: $header-margin-mini !important
//
//  .hamburger
//    margin: $header-margin-mini !important
//
//  .ham-closed
//    top: $header-margin-mini !important
//    right: $header-margin-mini !important
//
//  .container
//    padding-bottom: $header-height-mini * 2 !important
//    margin-left: $container-margin-mini !important
//    margin-right: $container-margin-mini !important
//    width: calc(100% - 2 * $container-margin-mini)
//
//    p
//      font-size: $p-font-size-mini !important
//
//  .modal
//    width: $modal-width-mini !important
