<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlacklistedMeaningsByMeaning</key>
	<dict>
		<key>Amusement Park</key>
		<array>
			<string>Entertainment</string>
		</array>
		<key>Amusement Parks</key>
		<array>
			<string>Entertainment</string>
		</array>
		<key>Fun Park</key>
		<array>
			<string>Entertainment</string>
		</array>
		<key>Fun Parks</key>
		<array>
			<string>Entertainment</string>
		</array>
		<key>Hike</key>
		<array>
			<string>Activity</string>
		</array>
		<key>Hikes</key>
		<array>
			<string>Activity</string>
		</array>
		<key>Hiking</key>
		<array>
			<string>Activity</string>
		</array>
		<key>Theme Park</key>
		<array>
			<string>Entertainment</string>
		</array>
		<key>Theme Parks</key>
		<array>
			<string>Entertainment</string>
		</array>
	</dict>
	<key>SceneWhitelist</key>
	<array>
		<string>Animal</string>
		<string>Art</string>
		<string>Baby</string>
		<string>Board Game</string>
		<string>Cake</string>
		<string>Camping</string>
		<string>Canyon</string>
		<string>Car</string>
		<string>Carousel</string>
		<string>Castle</string>
		<string>Cat</string>
		<string>Cheese</string>
		<string>Cliff</string>
		<string>Concert</string>
		<string>Coral Reef</string>
		<string>Desert</string>
		<string>Diving</string>
		<string>Dog</string>
		<string>Feline</string>
		<string>Fireplace</string>
		<string>Fish</string>
		<string>Food</string>
		<string>Forest</string>
		<string>Games</string>
		<string>Gymnastics</string>
		<string>Hiking</string>
		<string>Jewellery</string>
		<string>Jungle</string>
		<string>Lake</string>
		<string>Monument</string>
		<string>Motor Sport</string>
		<string>Mountain</string>
		<string>Museum</string>
		<string>Music</string>
		<string>Musical Instrument</string>
		<string>Nascar</string>
		<string>Night Sky</string>
		<string>Parade</string>
		<string>Performance</string>
		<string>Playground</string>
		<string>Railway</string>
		<string>Reptile</string>
		<string>Shore</string>
		<string>Snow</string>
		<string>Sport</string>
		<string>Sports Car</string>
		<string>String Instrument</string>
		<string>Sunset Sunrise</string>
		<string>Theme Park</string>
		<string>Train</string>
		<string>Underwater</string>
		<string>Vehicle</string>
		<string>Volcano</string>
		<string>Waterfall</string>
	</array>
</dict>
</plist>
