<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>algorithm</key>
	<integer>1</integer>
	<key>algorithmData</key>
	<dict>
		<key>normalizer</key>
		<real>12</real>
		<key>peopleFeatures</key>
		<dict>
			<key>23B48C6F-5C1D-43C2-8D7C-90DCED9BDBFE/L0/070</key>
			<real>0.5</real>
		</dict>
		<key>sceneFeatures</key>
		<dict>
			<key>1006</key>
			<real>0.5</real>
			<key>1095</key>
			<real>0.5</real>
			<key>117</key>
			<real>0.5</real>
			<key>1211</key>
			<real>0.5</real>
			<key>1386</key>
			<real>0.5</real>
			<key>1402</key>
			<real>0.5</real>
			<key>144</key>
			<real>0.5</real>
			<key>1447</key>
			<real>0.5</real>
			<key>1448</key>
			<real>0.5</real>
			<key>1487</key>
			<real>0.5</real>
			<key>1635</key>
			<real>0.5</real>
			<key>1649</key>
			<real>0.5</real>
			<key>1674</key>
			<real>0.5</real>
			<key>1685</key>
			<real>0.5</real>
			<key>1691</key>
			<real>0.5</real>
			<key>1715</key>
			<real>0.5</real>
			<key>1761</key>
			<real>0.5</real>
			<key>2147483655</key>
			<real>0.5</real>
			<key>297</key>
			<real>0.5</real>
			<key>33</key>
			<real>0.5</real>
			<key>382</key>
			<real>0.5</real>
			<key>407</key>
			<real>0.5</real>
			<key>493</key>
			<real>0.5</real>
			<key>595</key>
			<real>0.5</real>
			<key>668</key>
			<real>0.5</real>
			<key>669</key>
			<real>0.5</real>
			<key>731</key>
			<real>0.5</real>
			<key>784</key>
			<real>0.5</real>
			<key>809</key>
			<real>0.5</real>
			<key>821</key>
			<real>0.5</real>
			<key>825</key>
			<real>1</real>
			<key>834</key>
			<real>0.5</real>
			<key>881</key>
			<real>1</real>
			<key>956</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>date</key>
	<string>2023-10-06 18:37:07 +0000</string>
	<key>goldAssetUUIDs</key>
	<array>
		<string>6DEBB2AA-9B47-4604-95C6-ECE4919439FE</string>
		<string>D4B098C8-9505-42BC-A576-4306AE9CC382</string>
	</array>
	<key>version</key>
	<integer>10</integer>
</dict>
</plist>
