<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLbsJADPwXn9OIhfLaG+JSLkVqpfZQ9WASJ9lqH9GuA0WIf68THuLQmzWesWfmBI4Y
	S2QEfQKHiSm+kKkbBj1+nsyyK/ZpSm5AKzWeZhCiIc/IJniBzhlUITrkD4rpAmWwv8wb
	X4X+8K4ztnzt3I4iaBir1WSqIANs27sIZqNFrnKllrJIRUMO32hvLstRBq1F7v8I02zf
	Qb5i+dMldmIlgf46/eOCPO4slaA5diRXidn4OvWOjngYzkqW2ni06xha0BXaJMTf7YAO
	hOQw8n1zeOzheKNN5kshcsS+OPIrX1sC/SRq7Djcxc21WDVfCL8IfpB4vhU+egSvjffJ
	DRf9JJFNKWlNZYYaB8u38jePmyK4XLq1lLdNEAPn7/Mf
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>2560</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-09-30T16:33:20Z</date>
</dict>
</plist>
