<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVTLTuQwEPwXn6ORu/2eGxKslgtIIO1DKw4mcYhXk4cShwWh+fdtTwYmg/a6Pjnt7uqq
	cjtvrA3JVz55tn1jrZ9SGL+G+NQktpVcYHGMfY9VathWcJQF68cYuuRT7Du21fuC1f3Y
	+vQtjNMhBAV7XvbXXd1n4Mc57qqbuX0MI9syhAslUHtWMD8MH2WMvqeyCa2/C89xifGC
	DTufcgNKiLf3jNr56vc8pZY4TGz76+0f7UPnH3ehYts0zoFQQ0qxe5oylbov5+kulCl/
	vFKHjbDCrZcq2J8cBwVncVOwl0PciYI1eYfc8fXCTG4IY5rHQP5tCKkKQ2rebSj9kI+q
	i/Oc1r/Edm5PUdAFu7+8/XIXuiqMxPxDG3Xeza2/6eMU7ku/C5kGR6IhrFQKjdEWBGHW
	vgyLO2UTux+LTilQKbBo0IKBjBXqdPUafi5ySQ2CFEoKguCn46Wao1FOAwqttEawBRvz
	nJzOQZEfSkljjdBAc9L10xHagHYSNJdOWqWFKw6sDmeIWklNrEApQYXihLvUOmvRKQEc
	OArBj7hLTzROaO2EIU5G2X2xlquMM3SbTgvKMRzP5UruHNcGJClG6wyey0UkM6005Iow
	hiv9SS4ilTgBRgqJJApWciUiKHLKgRVCkiUruVIjSuqHmA21Fj7JlXR9VoIw0ijC5mol
	F5XlViP5x02+K9w/FP99ntvYfRrOzRHeaFAWJMKe0mJFzzHW8fDAL/PQX9V1ZvX+d7he
	J5R9u6GnvwuboelTz/YP+78=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-09-12T17:54:49Z</date>
</dict>
</plist>
