<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVPJbtswEP2XOQsG90W3FEnRHJoANtAFRQ60NLJYaINEZYHhfy8pJbFT9FwKEKg3M++9
	EYdHaDG40gUH+RFaNwUcv6A/1AFyqSnLXrHvvgw15IIZkUE/euyCC77vIFenDKp+bF34
	huO0QDSDx3V/21V9It7Pvinv5naPI+TA6CdLIQM3DO81EL+nosbWbfHRrxjJYGhcSOwx
	wd/vIGq58vc8hTYamCD/dfyHNnZu32AJeRhnjKwYgu8OU/LhBhzDPGLsZCMzODRumnD6
	6kLAq6bpn85VJQ6hfrNfuCFVlVcfy1v37Nu5PaNUZbC7vv+8xa7EMYq+29IZNHPr7no/
	4a5wTUwmG0KtpsRyLamwhFIVzVeuwLWxovbdj5QmLZdWS2G54oRbwSMXVuHmBX+mMNdM
	cymI1oorI9Q5vFQLSTSzxlLKVAxzk8GYzvciTpiRxFjGBYv0GXT9tFILRjTnRFpBGVFM
	xPaSqzWmlFDESBofoxXlZ941rg2hWhtmmSZSMLryrprGRDkhOFVaKSXV6SENUTFPWyxC
	+uMvS2ex8nJFiqeEU5Ucaype3/EonhdacgEaqWwGdcIZpR94WByj1nd/nd2G22XFXqSJ
	BPT0fz1FOV/GsfaVX27JdZrAm6pK6m9X7PYyoejbTbxCDW6Gug89nB5OfwA=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>2050</integer>
	<key>adjustmentTimestamp</key>
	<date>2023-11-23T11:54:53Z</date>
</dict>
</plist>
